<header>
    <div class="header-content">
        <div class="logo"> LOGO EI OLE KÄYTÖSSÄ </div>
    </div>

    <div class="header-text">
        <h1>Wine Notes around the world<br></h1>
    </div>
</header>